{% extends "base.html" %}


{% block header %}

	place_search
	 
{% endblock header %}


{% block content %}

	{% for place in response.results %}

	<div class = "card">
  		<div class="card-body">
    		<h5 class="card-title">{{place.name}}</h5> <br>

    			<h6 class="card-subtitle mb-2 text-muted"> {{place.formated_address}} </h6> <br>
    			<h7 class="card-text">Place ID: {{place.place_id}}</h7> <br>
    			<h8 class="card-text">Rating: {{place.rating}}</h8> <br>
    			<form action="{% url 'place_detail' %}" method="GET">
    				<input type="hidden" name="place_id" value="{{place.place_id}}">
    				<input type="submit" value="More Info" class="btn btn-outline-primary">
    			</form>
 			 </div>
			</div>

<br>
<br>

	{% endfor %}

	{% if response.next_page_token %}

	<form action="{% url 'place_search' %}" method="GET">
		<input type="hidden" name="next_page" value="{{response.next_page_token}}">
		<input type="submit" value="Next page" class="btn btn-info">
	</form>
	{% endif %}

{% endblock content %}